
 body{

            padding: 0px;
            margin: 0px;
            background-color: black;
           
        }

.main{

           width: 1100px;
           height: 100vh;
           margin: 0px auto;
       }

.rankLabel{

    text-align: center;
}

.ques{

    font-weight: bold;
    font-size: 40px;
    color: white;
}

.chartBox{

    box-shadow: inset 3px 3px 15px 2px black;
}

.selectType{

  position: relative;
  top: 140px;
}


.Close{

    position: relative;
    float: right;
    right: 40px;
    top: 20px;
    transition: transform 1s;
         }
         
    .Close:hover{

    transform: rotate(180deg);
    }
